.breadcrumbs {
  margin-bottom: $gap;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item:not(:last-child)::after {
    content: "/";
    padding: 0 3px 0 6px;
    color: $gray;
}

  &__link {
    outline: none;
    line-height: $defaultLh;
    color: $gray;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &:focus-visible {
      color: $primaryShade;
      background-color: $bgPink;
    }

    &:active {
      color: $primaryShade;
    }

    &--active {
      color: $primaryShade;
    }
  }
}
