.catalog-main {
  padding-top: 23px;
}

.catalog {
  &__aside {
    flex-shrink: 0;
    margin-right: $gap;
    max-width: 296px;
  }

  &__title_mobile {
    display: none;
  }

  &__title {
    margin-bottom: 24px;
    font-size: $titleFs;
    line-height: 31px;
  }

  &__right {
    flex-grow: 1;
    overflow: hidden;
  }

  &__swiper-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: $gap;
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .swiper-pagination-bullet {
      margin: 0 $lesserGap;
      outline: none;
      border: 2px solid $primary;
      border-radius: $br;
      padding: 7px 9px 6px 10px;
      min-width: 32px;
      min-height: 32px;
      font-weight: 600;
      font-size: $biggerFs;
      line-height: 16px;
      color: $primary;
      background-color: $white;
      opacity: 1;
      transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;

      &-active {
        border-color: $primaryShade;
        color: $white;
        background-color: $primaryShade;
      }

      &:focus-visible {
        color: $white;
        background-color: $primaryLight;
      }

      &:active {
        border-color: $primaryShade;
        color: $white;
        background-color: $primaryShade;
      }
    }
  }

  &__slide {
    display: flex;
    border-radius: $br;
    height: auto;
    background-color: $grayLight;
  }

  &__card {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 51px 17px 30px;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: $lesserGap;
    width: 100%;
    height: 100%;
    min-height: 140px;
  }

  &__img-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__card-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 13px;
  }

  &__name-price {
    margin-bottom: 24px;
  }

  &__card-name {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: $titleFs;
    line-height: 31px;
    word-break: break-all;
    color: $black;
  }

  &__price {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $grayShade;
  }

  &__card-btn {
    outline: none;
    padding: 16px 33px;
    font-weight: 600;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $primary;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      color: $white;
      background-color: $primaryLight;
    }

    &:active {
      border-color: $primaryShade;
      color: $white;
      background-color: $primaryShade;
    }
  }

  &__svg-rating {
    position: absolute;
    left: 30px;
    top: 30px;
    align-items: center;
  }

  &__svg {
    display: flex;
    margin-right: 7px;
    width: 16px;
    height: 15px;
  }

  &__rating {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $secondary;
  }
}

.filter {
  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $black;
  }

  &__item:not(:last-child) {
    margin-bottom: 26px;
  }

  &__item:last-child {
    margin-bottom: 89px;
  }

  &__item:nth-child(2) {
    margin-bottom: 35px;
  }

  &__item:nth-child(2) .filter__subtitle {
    margin-bottom: 6px;
  }

  &__btn {
    display: none;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: $biggerFs;
    line-height: 21px;
    color: $grayShade;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__price-label {
    display: flex;
  }

  &__price-input {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    border: 1px solid $gray;
    border-radius: 2px;
    min-height: 30px;
    max-width: 86px;
    font-size: $biggerFs;
    line-height: 21px;
    color: $grayShade;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;

    &:focus-visible {
      border-color: $primary;
      background-color: $bgPink;
    }

    &:active {
      border-color: $primaryShade;
      background-color: $white;
    }
  }

  &__price-span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    font-size: $biggerFs;
    line-height: 26px;
    color: $grayShade;
  }

  &__price-slider {
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 3px;
    background-color: $grayMd;

    &:focus-within .noUi-connect {
      background-color: $primaryShade;
    }
  }

  &__checkbox-label {
    display: block;
    cursor: pointer;
  }

  &__subitem:not(:last-child) {
    margin-bottom: 11px;
  }

  &__checkbox-text {
    display: inline-block;
    vertical-align: middle;
    font-size: $biggerFs;
    line-height: 21px;
    color: $grayShade;
  }

  &__visible-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    border: 1px solid $gray;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    transition: background-color .2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      width: 12px;
      height: 7px;
      opacity: 0;
      transform: translate(-45%, -65%) rotate(-45deg);
      transition: opacity .2s ease-in-out;
    }
  }

  .filter__checkbox-input:focus-visible+.filter__visible-checkbox {
    outline: 2px solid $primaryLight;
    outline-offset: 1px;
  }

  .filter__checkbox-input:checked~.filter__visible-checkbox::before {
    opacity: 1;
  }

  .filter__checkbox-input:checked~.filter__visible-checkbox {
    border-color: $primary;
    background-color: $primary;
  }

  &__card {
    border-radius: $br;
    padding: 220px 67px 30px 30px;
    width: 100%;
    min-height: 360px;
    background-image: url("img/filter.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: $black;
  }

  &__card-title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: $biggerFs;
    line-height: 22px;
    color: $gray;
  }

  &__card-span {
    display: block;
    font-family: "PlayfairDisplayBlack", "Times New Roman", serif;
    font-weight: 900;
    font-size: $titleFs;
    line-height: 32px;
    color: $gold;
  }

  &__link {
    display: flex;
    align-items: center;
    outline: none;

    &:active .filter__link-svg path {
      stroke: $white;
    }

    &:active .filter__link-svg {
      background-color: $primaryShade;
    }

    &:active .filter__link-svg circle {
      stroke: $primaryShade;
    }

    &:active .filter__link-span::after {
      background-color: $primaryShade;
      transform: scaleX(1);
    }

    &:focus-visible .filter__link-svg path {
      stroke: $white;
    }

    &:focus-visible .filter__link-svg {
      background-color: $primaryLight;
    }

    &:focus-visible .filter__link-span::after {
      transform: scaleX(1);
    }

    &:active .filter__link-span {
      color: $primaryShade;
    }
  }

  &__link-span {
    position: relative;
    display: block;
    margin-right: 5px;
    outline: none;
    font-weight: 700;
    font-size: $biggerFs;
    line-height: 19px;
    color: $primary;
    transition: color .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: $primary;
      transform: scaleX(0);
      transition: transform .2s ease-in-out, background-color .2s ease-in-out;
    }
  }

  &__link-svg {
    border-radius: 50%;
    transition: background-color .2s ease-in-out;

    path {
      transition: stroke .2s ease-in-out;
    }

    circle {
      transition: stroke .2s ease-in-out;
    }
  }

  &__title_mobile {
    display: none;
  }
}

.noUi-target {
  border: none;
  box-shadow: none;
}

.noUi-connect {
  background-color: $primary;
  transition: background-color .2s ease-in-out;
}

.noUi-horizontal .noUi-handle {
  position: absolute;
  right: -6px;
  top: 0;
  outline: none;
  border: none;
  border-radius: 0;
  width: 12px;
  height: 12px;
  box-shadow: none;
  background-image: url("img/slider.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: background-image .2s ease-in-out;
  cursor: pointer;

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }

  &:focus-visible {
    background-image: url("img/slider-active.svg");
  }

  &:active {
    background-image: url("img/slider-active.svg");
  }
}

@media (width <= 1200px) {
  .catalog {
    &__wrapper {
      flex-direction: column;
    }

    &__aside {
      flex-shrink: 1;
      margin-right: 0;
      margin-bottom: $gap;
      max-width: none;
    }

    &__title_mobile {
      display: block;
      margin-bottom: $lesserGap;
    }

    &__title_desktop {
      display: none;
    }

    &__filter {
      display: flex;
      align-items: center;
    }

    &__card-name {
      max-width: 250px;
    }

    &__pagination {
      .swiper-pagination-bullet {
        padding: 6px 10px 7px 9px;
      }
    }
  }

  .filter {
    &__title_desktop {
      display: none;
    }

    &__title_mobile {
      display: block;
      margin-right: 43px;
      margin-bottom: 0;
      font-size: $defaultFs;
      line-height: 18px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      width: 100%;
      gap: $gap;
    }

    &__price-slider {
      display: none;
    }

    &__price-input {
      min-width: 60px;
      max-width: none;
    }

    &__subtitle {
      display: none;
    }

    &__card {
      display: none;
    }

    &__item {
      position: relative;
      display: flex;
      flex-grow: 1;
      grid-column: span 3;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__item:first-child .filter__sublist {
      z-index: 15;
    }

    &__item:nth-child(2) .filter__sublist {
      z-index: 15;
    }

    &__item:first-child .filter__btn {
      z-index: 17;
    }

    &__item:nth-child(2) .filter__btn {
      z-index: 17;
    }

    &__item:nth-child(2) {
      margin-bottom: 0;
    }

    &__visible-checkbox {
      margin-right: 6px;
      background-color: $white;

      &::before {
        transform: translate(-50%, -65%) rotate(-45deg);
      }
    }

    &__visible-checkbox--margin {
      margin-bottom: 10px;
    }

    &__sublist {
      position: absolute;
      top: 30px;
      z-index: 10;
      display: none;
      border: 2px $grayLight solid;
      border-top: none;
      border-bottom-right-radius: $br;
      border-bottom-left-radius: $br;
      padding: 18px 0 13px;
      width: 100%;
      background-color: $white;
    }

    &__sublist--active {
      display: block;
    }

    &__price-label {
      padding: 6px 19px;
      transition: background-color .2s ease-in-out;
    }

    &__price-span {
      transition: color .2s ease-in-out;
    }

    &__checkbox-text {
      transition: color .2s ease-in-out;
    }

    &__subitem {
      padding: 6px 19px;
      transition: background-color .2s ease-in-out;
    }

    &__subitem:not(:last-child) {
      margin-bottom: 0;
    }

    &__btn {
      position: relative;
      z-index: 10;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: center;
      justify-content: space-between;
      outline: none;
      border: 2px solid $grayLight;
      border-radius: $br;
      padding: 5px 14px;
      min-height: 40px;
      background-color: $grayLight;
      transition: background-color .2s ease-in-out, border-color .2s ease-in-out;

      &:focus-visible {
        border-color: $primary;
      }

      &:active {
        border-color: $primaryShade;
      }
    }

    &__btn-svg--reversed {
      transform: rotate(180deg);
    }

    &__btn-span {
      font-size: $biggerFs;
      line-height: 22px;
      color: $black;
    }

    &__btn-svg {
      width: 12px;
      height: 12px;
      min-width: 12px;
      min-height: 12px;
    }

    &__price {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
}

@media (width <= 962px) {
  .catalog {
    &__title_mobile {
      display: block;
      margin-bottom: 27px;
    }

    &__filter {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .filter {
    &__title_mobile {
      margin-bottom: $lesserGap;
    }

    &__list {
      width: 65%;
      gap: $lesserGap $gap;
    }

    &__item {
      grid-column: span 6;
    }
  }
}

@media (width <= 750px) {
  .catalog {
    &__card {
      box-sizing: border-box;
    }

    &__card-content {
      padding: 0;
      width: 100%;
    }

    &__card-name {
      max-width: 250px;
      word-break: normal;
      word-wrap: break-word;
    }

    &__top {
      height: auto;
      min-height: 110px;
    }

    &__name-price {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .filter {
    &__list {
      width: 100%;
    }
  }
}

@media (width <= 576px) {
  .catalog-main {
    padding-top: 30px;
  }

  .catalog {
    &__title_mobile {
      margin-bottom: 16px;
    }

    &__name-price {
      margin-bottom: $lesserGap;
    }

    &__card {
      padding: 38px 16px 16px;
    }

    &__card-name {
      margin-bottom: $lesserGap;
      max-width: 170px;
      font-size: 16px;
      line-height: 21px;
    }

    &__card-btn {
      justify-content: center;
      padding: 10px 23px;
      width: 100%;
    }

    &__img-wrapper {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__svg-rating {
      left: 16px;
      top: 16px;
    }

    &__svg {
      margin-right: 6px;
      width: 13px;
      height: 12px;
    }

    &__rating {
      font-size: 12px;
      line-height: 15.6px;
    }

    &__top {
      align-items: center;
      margin-bottom: 2px;
      height: 100%;
      min-height: 65px;
    }
  }

  .filter {
    &__list {
      column-gap: $lesserGap;
    }

    &__subitem {
      padding: 6px 11px;
    }

    &__price-label {
      padding: 6px 11px;
    }

    &__visible-checkbox {
      margin-right: 5px;
      width: 17px;
      height: 17px;
    }

    &__checkbox-text {
      font-size: $defaultFs;
    }
  }

  .catalog__swiper-container .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }
}
