.footer-top {
  padding: 24px 0 22px 0;
  background-color: $grayMd;

  &__wrapper {
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-bottom: 31px;

    &:focus-visible {
      outline-offset: 4px;
      outline: 2px $primary solid;
    }
  }

  &__logo-svg {
    width: 187px;
    height: 27px;
  }

  &__socials {
    flex-wrap: wrap;
  }

  &__social:not(:last-child) {
    margin-right: 20px;
  }

  &__social-link {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    outline: none;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      top: -3px;
      left: -3px;
      bottom: -3px;
      right: -3px;
      z-index: -1;
      transition: background-color .2s ease-in-out;
    }

    &:focus-visible .footer-top__svg path {
      fill: $white;
    }

    &:focus-visible::before {
      background-color: $primaryLight;
    }

    &:active .footer-top__svg path {
      fill: $primaryShade;
    }

    &:active::before {
      display: none;
    }
  }

  &__svg {
    path {
      transition: fill .2s ease-in-out;
    }
  }
}

.footer-nav {
  width: 100%;
  max-width: 843px;

  &__list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: $biggerFs;
    font-weight: 400;
    line-height: $biggerLh;
    color: $black;
  }

  &__submenu-item {
    display: flex;
    justify-content: flex-start;
  }

  &__submenu-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    display: flex;
    line-height: $defaultLh;
    color: $gray;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    outline: none;

    &:focus-visible {
      color: $primaryShade;
      background-color: $bgPink;
    }

    &:active {
      color: $primaryShade;
    }
  }
}

.footer-bottom {
  padding: 5px 0 6px 0;
  justify-content: center;

  &__text {
    color: $gray;
    line-height: 19px;

    .reg {
      font-size: 100%;
      top: 0;
      bottom: 0;
    }
  }

  &__text {
    &:first-child {
      margin-right: 11px;
    }
  }
}

@media (max-width: 1200px) {
  .footer-nav {
    max-width: 733px;
    flex-shrink: 1;
  }

  .footer-top {
    &__logo-socials {
      margin-right: $gap;
    }

    &__logo-svg {
      min-width: 187px;
    }
  }
}

@media (max-width: 962px) {
  .footer-top {
    &__wrapper {
      flex-wrap: wrap;
    }

    &__logo-socials {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      margin-bottom: 0;
    }
  }

  .footer-nav {
    max-width: none;
  }
}

@media (max-width: 750px) {
  .footer-nav {
    &__list {
      flex-wrap: wrap;
    }

    &__item {
      width: auto;

      &:not(:nth-last-child(-n+1)) {
        margin-right: 30px;
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 576px) {
  .footer-top {
    padding: 24px 0 24px 0;

    &__logo-socials {
      margin-bottom: 22px;
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      margin-bottom: 24px;
    }
  }

  .footer-nav {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 26px;
      grid-column-gap: 18px;
    }

    &__item {
      &:not(:nth-last-child(-n+1)) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}
