.header {
  &__top-wrapper {
    padding: 17px 0 15px;
    background-color: $grayLight;
  }

  &__middle-wrapper {
    padding: $gap 0;
  }

  &__logo-tablet {
    display: none;
  }
}

.header-top {
  flex-wrap: wrap;

  &__label {
    align-items: flex-start;
    margin-right: 33px;
  }

  &__region {
    margin-right: 3px;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $black;
  }

  &__tel-info {
    align-items: center;
    margin-right: auto;
    outline: none;

    &:active .header-top__svg path {
      fill: $secondaryShade;
    }

    &:focus-visible {
      background-color: $bgGold;
    }

    &:active .header-top__phone {
      color: $secondaryShade;
    }
  }

  &__phone {
    display: inline-block;
    outline: none;
    line-height: $defaultLh;
    color: $secondary;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
  }

  &__svg {
    display: inline-block;
    margin-right: 3px;
    width: 16.5px;
    height: 16.5px;

    path {
      transition: fill .2s ease-in-out;
    }
  }

  &__list {
    flex-wrap: wrap;
  }

  &__link {
    display: block;
    outline: none;
    line-height: $defaultLh;
    color: $gray;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &:focus-visible {
      color: $primaryShade;
      background-color: $bgPink;
    }

    &:active {
      color: $primaryShade;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__user {
    display: none;
  }

  &__basket {
    display: none;
  }
}

.header-middle {
  flex-wrap: wrap;
  align-items: center;

  &__logo {
    display: flex;
    margin-right: 141px;

    &:focus-visible {
      outline: 2px $primary solid;
      outline-offset: 4px;
    }
  }

  &__svg {
    width: 187px;
    height: 27px;
  }

  &__nav-wrapper {
    flex-grow: 1;
  }

  &__close {
    display: none;
  }

  &__nav-two {
    display: none;
  }

  &__nav {
    flex-grow: 1;
  }

  &__list {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__link {
    outline: none;
    font-size: $biggerFs;
    line-height: 22px;
    color: $black;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &:focus-visible {
      color: $primaryShade;
      background-color: $bgPink;
    }

    &:active {
      color: $primaryShade;
    }
  }

  &__user-basket {
    display: none;
  }
}

.header-bottom {
  flex-wrap: wrap;

  &__form-select {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    margin-right: 120px;
  }

  &__form {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
  }

  &__search-btn {
    position: absolute;
    right: 32px;
    top: 50%;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transform: translateY(-50%);
    transition: background-color .2s ease-in-out;

    &:focus-visible .header-bottom__search-svg path {
      stroke: $white;
    }

    &:focus-visible {
      background-color: $primaryLight;
    }

    &:active .header-bottom__search-svg path {
      stroke: $white;
    }

    &:active .header-bottom__search-svg circle {
      stroke: $primaryShade;
    }

    &:active {
      background-color: $primaryShade;
    }

    &:disabled .header-bottom__search-svg path {
      stroke: $gray;
    }

    &:disabled .header-bottom__search-svg circle {
      stroke: $gray;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &__search {
    flex-grow: 1;
    flex-shrink: 1;
    outline: none;
    border: 2px solid $grayLight;
    border-top-left-radius: $br;
    border-bottom-left-radius: $br;
    padding: 13px 65px 13px 59px;
    width: 100%;
    height: 100%;
    max-width: 761px;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $black;
    background-image: url("img/search.svg");
    background-position: left 33px center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: $grayLight;
    transition: background-color .2s ease-in-out, background-image .2s ease-in-out, border-color .2s ease-in-out;

    &::placeholder {
      color: $gray;
    }

    &:focus-visible {
      border-color: $primary;
      background-color: $pinkLight;
    }

    &:active {
      background-image: url("img/search-active.svg");
    }
  }

  &__search-svg {
    width: 32px;
    height: 32px;

    circle {
      transition: stroke .2s ease-in-out;
    }

    path {
      transition: stroke .2s ease-in-out;
    }
  }

  &__user {
    position: relative;
    z-index: 5;
    align-self: center;
    margin-right: 29px;
    outline: none;
    border: none;
    border-radius: 0;

    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      z-index: -1;
      width: 34px;
      height: 36px;
      transition: background-color .2s ease-in-out;
    }

    &:focus-visible::before {
      background-color: $primaryLight;
    }

    &:active::before {
      display: none;
    }

    &:focus-visible .header-bottom__user-svg path {
      fill: $white;
    }

    &:active .header-bottom__user-svg path {
      fill: $primaryShade;
    }
  }

  &__user-svg {
    width: 26px;
    height: 28px;

    path {
      transition: fill .2s ease-in-out;
    }
  }

  &__counter {
    position: relative;
    left: 3px;
    top: 6px;
    border-radius: 50%;
    padding: 3px 4px;
    width: 14px;
    height: 16px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: $white;
    background-color: $secondary;
  }

  &__basket {
    position: relative;
    z-index: 5;
    align-self: center;
    outline: none;
    border: none;
    border-radius: 0;

    &::before {
      content: '';
      position: absolute;
      inset: -4px -7px -3px -1px;
      z-index: -1;
      width: 49px;
      height: 35px;
      transition: background-color .2s ease-in-out;
    }

    &:focus-visible::before {
      background-color: $primaryLight;
    }

    &:active::before {
      display: none;
    }

    &:focus-visible .header-bottom__basket-svg path {
      fill: $white;
    }

    &:active .header-bottom__basket-svg path {
      fill: $primaryShade;
    }
  }

  &__basket-svg {
    width: 30px;
    height: 28px;

    path {
      transition: fill .2s ease-in-out;
    }
  }
}

.burger {
  display: none;
}

.choices__list--dropdown .choices__item--choice.is-selected {
  display: none;
}

.choices__item {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.header-top .choices {
  width: 80px;
  height: 100%;
}

.header-top .choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

.header-top .choices__inner {
  border: none;
  padding: 0;
  min-height: auto;
  font-size: $biggerFs;
  line-height: $biggerLh;
  color: $primary;
  transition: background-color .2s ease-in-out;
}

.header-top .choices__list--single {
  padding: 0 $lesserGap 0 0;
}

.header-top .choices[data-type*="select-one"]::after {
  right: 5px;
  top: 35%;
  border: none;
  border-right: 1px solid $primary;
  border-bottom: 1px solid $primary;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.header-bottom .is-active .choices__placeholder {
  display: none;
}

.header-bottom .choices {
  width: 300px;
  height: 100%;
}

.header-bottom .choices__inner {
  position: relative;
  z-index: 60;
  display: flex;
  border: 2px $grayLight solid;
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
  padding: 19px 25px 19px 32px;
  height: 100%;
  font-size: $biggerFs;
  line-height: $biggerLh;
  color: $primary;
  background-color: transparent;
  transition: border-color .2s ease-in-out;
}

.header-bottom .choices__placeholder {
  opacity: 1;
}

.header-bottom .choices__list--single {
  align-self: center;
  padding: 0;
}

.header-bottom .choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 19px;
}

.header-bottom .choices[data-type*="select-one"]::after {
  right: 37px;
  top: 45%;
  z-index: 11;
  border: none;
  border-right: 1px solid $primary;
  border-bottom: 1px solid $primary;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.header-top .choices[data-type*="select-one"].is-open::after {
  top: 80%;
  transform: rotate(225deg);
}

.header-bottom .choices[data-type*="select-one"].is-open::after {
  top: 60%;
  transform: rotate(225deg);
}

.header-top .choices:active .choices__list--single .choices__item {
  color: $primaryShade;
}

.header-top .choices.is-open .choices__list--single .choices__item--selectable {
  color: $primary;
  background-color: transparent;
}

.header-top .choices:focus-visible .choices__inner {
  color: $primaryShade;
  background-color: $bgPink;
}

.header-bottom .choices:focus-visible .choices__inner {
  border-color: $primary;
  background-color: $pinkLight;
}

.header-bottom .choices:active .choices__inner {
  border-color: $primaryShade;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: 2px solid $grayLight;
  word-break: normal;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow: hidden;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: $grayLight;
}

.header-bottom .choices__list--dropdown,
.header-bottom .choices__list[aria-expanded] {
  top: 55%;
  z-index: 50;
  border-top: none;
  border-radius: $br;
  padding-top: 22px;
  padding-bottom: 15px;
}

.header-top .choices__list--dropdown .choices__item,
.header-top .choices__list[aria-expanded] .choices__item {
  padding: 7px 10px;
}

.header-bottom .choices__list--dropdown .choices__list {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 30px;
  max-height: 194px;
}

.header-bottom .choices__list--dropdown .choices__list .choices__item {
  width: 50%;
}

.header .header-top .choices.choices::after {
  transition: border-color .2s ease-in-out;
}

.header .header-bottom .choices.choices::after {
  z-index: 80;
}

.header .header-top .choices.choices:active::after {
  border-color: $primaryShade;
}

.header .header-top .choices.choices:focus-visible::after {
  border-color: $primaryShade;
}

.header .header-top .choices.is-open.choices::after {
  border-color: $primary;
}

.header .header-top .choices.is-open .choices__inner {
  background-color: transparent;
}

@media (width <= 1200px) {
  .header {
    &__top-wrapper {
      padding: 19px 0 0;
      background-color: $white;
    }

    &__middle-wrapper {
      padding: 33px 0;
    }
  }

  .header-top {
    flex-wrap: wrap;

    &__label {
      margin-right: auto;
      margin-bottom: 20px;
    }

    &__tel-info {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__nav-btn-wrapper {
      flex-grow: 1;
      margin-right: -36px;
      margin-left: -36px;
      padding: 10px 0;
      width: 100%;
      background-color: $grayLight;
    }

    &__nav-btn {
      align-items: center;
      padding: 0 36px;
      width: 100%;
    }

    &__nav {
      flex-grow: 1;
      margin-right: 143px;
    }

    &__list {
      justify-content: space-between;
    }

    &__item:not(:last-child) {
      margin-right: 0;
    }

    &__user {
      position: relative;
      z-index: 5;
      display: block;
      align-self: center;
      margin-right: 29px;
      outline: none;
      border: none;
      border-radius: 0;

      &::before {
        content: '';
        position: absolute;
        inset: -4px;
        z-index: -1;
        width: 34px;
        height: 36px;
        transition: background-color .2s ease-in-out;
      }

      &:focus-visible::before {
        background-color: $primaryLight;
      }

      &:active::before {
        display: none;
      }

      &:focus-visible .header-top__user-svg path {
        fill: $white;
      }

      &:active .header-top__user-svg path {
        fill: $primaryShade;
      }
    }

    &__user-svg {
      width: 26px;
      height: 28px;

      path {
        transition: fill .2s ease-in-out;
      }
    }

    &__counter {
      position: relative;
      left: 3px;
      top: 6px;
      border-radius: 50%;
      padding: 3px 4px 2px;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
      color: $white;
      background-color: $secondary;
    }

    &__basket {
      position: relative;
      z-index: 5;
      display: flex;
      align-self: center;
      outline: none;
      border: none;
      border-radius: 0;

      &::before {
        content: '';
        position: absolute;
        inset: -4px -7px -3px -1px;
        z-index: -1;
        width: 49px;
        height: 35px;
        transition: background-color .2s ease-in-out;
      }

      &:focus-visible::before {
        background-color: $primaryLight;
      }

      &:active::before {
        display: none;
      }

      &:focus-visible .header-top__basket-svg path {
        fill: $white;
      }

      &:active .header-top__basket-svg path {
        fill: $primaryShade;
      }
    }

    &__basket-svg {
      width: 30px;
      height: 28px;

      path {
        transition: fill .2s ease-in-out;
      }
    }
  }

  .header-middle {
    &__logo {
      margin-right: 64px;
    }
  }

  .header-bottom {
    &__form-select {
      margin-right: 0;
    }

    &__basket {
      display: none;
    }

    &__user {
      display: none;
    }
  }
}

@media (width <= 962px) {
  .container {
    padding: 0 72px;
  }

  .header-bottom .choices__list--dropdown .choices__list {
    max-height: none;
  }

  .header {
    &__middle-wrapper {
      position: relative;
      padding: 33px 0 31px;
    }
  }

  .header-top {
    &__nav-btn-wrapper {
      margin-right: -72px;
      margin-left: -72px;
      padding: 18px 0;
    }

    &__nav {
      margin-right: 0;
    }

    &__nav-btn {
      padding: 0 72px;
    }

    &__basket {
      display: none;
    }

    &__user {
      display: none;
    }
  }

  .header-middle {
    align-items: center;
    justify-content: space-between;

    &__logo {
      margin-right: 0;
    }

    &__nav-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      overflow-y: auto;
      border-top: 1px solid $grayShade;
      padding: 37px 72px;
      width: 100%;
      background-image: url("img/burger-bg.svg");
      background-position: bottom 20% left 80%;
      background-size: 161px 112px;
      background-repeat: no-repeat;
      background-color: $white;
      opacity: 0;
      visibility: hidden;
      transition: visibility .2s ease-in-out, transform .2s ease-in-out, opacity .2s ease-in-out;
    }

    &__nav-wrapper--active {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    &__close-wrapper {
      margin-bottom: 34px;
    }

    &__close {
      display: flex;
      outline: none;
      border: none;
      border-radius: 0;
      width: 24px;
      height: 24px;
      transition: background-color .2s ease-in-out;

      &:focus-visible .header-middle__close-svg path {
        fill: $primaryShade;
      }

      &:focus-visible {
        background-color: $bgPink;
      }

      &:active .header-middle__close-svg path {
        fill: $primaryShade;
      }
    }

    &__close-svg {
      width: 24px;
      height: 24px;

      path {
        transition: fill .2s ease-in-out;
      }
    }

    &__nav {
      width: 288px;
      max-height: 148px;
    }

    &__list {
      flex-direction: column;
    }

    &__item:not(:nth-child(3n)) {
      margin-bottom: 41px;
    }

    &__item:not(:nth-last-child(-n+3)) {
      margin-right: 64px;
    }

    &__user-basket {
      display: flex;
    }

    &__user {
      position: relative;
      z-index: 5;
      align-self: center;
      margin-right: 29px;
      outline: none;
      border: none;
      border-radius: 0;

      &::before {
        content: '';
        position: absolute;
        inset: -4px;
        z-index: -1;
        width: 34px;
        height: 36px;
        transition: background-color .2s ease-in-out;
      }

      &:focus-visible::before {
        background-color: $primaryLight;
      }

      &:active::before {
        display: none;
      }

      &:focus-visible .header-middle__user-svg path {
        fill: $white;
      }

      &:active .header-middle__user-svg path {
        fill: $primaryShade;
      }
    }

    &__user-svg {
      width: 26px;
      height: 28px;

      path {
        transition: fill .2s ease-in-out;
      }
    }

    &__counter {
      position: relative;
      left: 3px;
      top: 6px;
      border-radius: 50%;
      padding: 3px 4px 2px;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
      color: $white;
      background-color: $secondary;
    }

    &__basket {
      position: relative;
      z-index: 5;
      align-self: center;
      outline: none;
      border: none;
      border-radius: 0;

      &::before {
        content: '';
        position: absolute;
        inset: -4px -7px -3px -1px;
        z-index: -1;
        width: 49px;
        height: 35px;
        transition: background-color .2s ease-in-out;
      }

      &:focus-visible::before {
        background-color: $primaryLight;
      }

      &:active::before {
        display: none;
      }

      &:focus-visible .header-middle__basket-svg path {
        fill: $white;
      }

      &:active .header-middle__basket-svg path {
        fill: $primaryShade;
      }
    }

    &__basket-svg {
      width: 30px;
      height: 28px;

      path {
        transition: fill .2s ease-in-out;
      }
    }
  }

  .header-bottom .choices {
    width: 189px;
  }

  .burger {
    position: relative;
    display: block;
    margin-right: 74px;
    border: none;
    border-radius: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;

    &__line {
      position: absolute;
      left: 50%;
      border-radius: 4px;
      width: 100%;
      height: 3px;
      background-color: $primary;
      transform: translateX(-50%);
    }

    &__line:first-child {
      top: 0;
    }

    &__line:nth-child(2) {
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &__line:last-child {
      left: 50%;
      bottom: 0;
    }
  }
}

@media (width <= 750px) {
  .header {
    &__middle-wrapper {
      padding-top: 11.5px;
    }

    &__logo-tablet {
      display: flex;
      padding: 17px 0;
      background-color: $grayLight;
    }

    &__logo {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__logo-svg {
      width: 187px;
      height: 27px;
    }

    &__top-wrapper {
      padding: 19px 0 14.5px;
    }
  }

  .header-top {
    &__label {
      margin-bottom: 0;
    }

    &__nav-btn-wrapper {
      display: none;
    }

    &__tel-info {
      margin-bottom: 0;
    }
  }

  .burger {
    margin-right: 0;
  }

  .header-middle {
    &__logo {
      display: none;
    }

    &__nav-two {
      display: block;
      padding: 24px 72px;
      background-color: $grayLight;
    }

    &__list-two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 20%;
    }

    &__link-two {
      outline: none;
      line-height: 22px;
      color: $gray;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;

      &:focus-visible {
        color: $primaryShade;
        background-color: $bgPink;
      }

      &:active {
        color: $primaryShade;
      }
    }

    &__nav-wrapper {
      border-top: none;
      padding: 0;
      background-image: none;
    }

    &__close-wrapper {
      margin-bottom: 26px;
      padding: 12px 0 0 72px;
    }

    &__close {
      width: 18px;
      height: 18px;
    }

    &__close-svg {
      width: 18px;
      height: 18px;

    }

    &__nav {
      margin-bottom: 26px;
      padding: 12px 72px;
      width: auto;
      max-height: none;
    }

    &__list {
      flex-direction: column;
      justify-content: flex-start;
    }

    &__item:not(:nth-child(3n)) {
      margin-bottom: 0;
    }

    &__item:not(:nth-last-child(-n+3)) {
      margin-right: 0;
    }

    &__item:not(:last-child) {
      margin-bottom: 41px;
    }
  }

  .header-bottom {
    display: block;

    &__form-select {
      flex-direction: column;
    }

    &__form {
      margin-bottom: $lesserGap;
      width: 100%;
    }

    &__search {
      border-radius: $br;
      width: 100%;
    }
  }

  .header-bottom .choices {
    width: 100%;
  }

  .header-bottom .choices__inner {
    border-radius: $br;
    width: 100%;
  }
}

@media (width <= 576px) {
  .container {
    padding: 0 12px;
  }

  .header {
    &__top-wrapper {
      border-bottom: 1px solid $grayLight;
      padding: 18px 0;
    }

    &__middle-wrapper {
      border-bottom: 1px solid $grayLight;
      padding: 10px 0;
    }

    &__bottom-wrapper {
      padding-top: 17px;
    }

    &__logo-tablet {
      padding: 12px 0 11px;
    }
  }

  .header-top {
    &__label {
      margin-right: 0;
      margin-bottom: 21px;
      width: 100%;
    }

    &__tel-info {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .header-middle {
    &__nav {
      padding: 0 12px;
    }

    &__nav-two {
      display: block;
      padding: 24px 12px;
      background-color: $grayLight;
    }

    &__close-wrapper {
      padding: 12px 0 0 12px;
    }

    &__list-two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 28px;
    }
  }

  .header-bottom {
    &__form {
      margin-bottom: 18px;
    }

    &__search {
      padding: 17px 64px 17px 59px;
      min-width: 80px;
    }

    &__search-btn {
      min-width: 32px;
      min-height: 32px;
    }
  }
}
