.hero {
  &__swiper-container {
    position: relative;
    overflow: hidden;
  }

  &__swiper-wrapper {
    z-index: 0;
  }

  &__slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $gold;
  }

  &__slide-content {
    padding: 80px 36px;
    max-width: 496px;
  }

  &__slide-content-third {
    max-width: 587px;
  }

  &__first-slide {
    background-image: url('img/hero1.webp');
  }

  &__second-slide {
    background-image: url('img/hero2.webp');
  }

  &__third-slide {
    background-image: url('img/hero3.webp');
  }

  &__title {
    margin: 0;
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: $gray;
  }

  &__last-title {
    color: $white;
  }

  &__swiper-button {
    outline: none;
    padding: 19px 50px;
    font-weight: 700;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $white;
    background-color: $primary;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      border-color: $primaryShade;
      background-color: $primaryLight;
    }

    &:active {
      border-color: $primaryShade;
      background-color: $primaryShade;
    }

    &:disabled {
      border-color: $grayMd;
      color: $gray;
      background-color: $grayMd;
    }
  }

  &__pagination {
    z-index: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__mobile-button {
    display: none;
  }
}

.swiper-pagination-bullet:focus-visible {
  outline: 2px solid $primaryLight;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 23px;
}

@media (width <= 1200px) {
  .hero {
    &__first-slide {
      background-image: url('img/hero1-1024.webp');
    }

    &__second-slide {
      background-image: url('img/hero2-1024.webp');
    }

    &__third-slide {
      background-image: url('img/hero3-1024.webp');
    }

    &__slide-content {
      padding: 80px 0;
    }

    &__swiper-button {
      padding: 19px 49px;
    }
  }
}

@media (width <= 962px) {
  .hero {
    &__first-slide {
      background-image: url('img/hero1-768.webp');
    }

    &__second-slide {
      background-image: url('img/hero2-768.webp');
    }

    &__third-slide {
      background-image: url('img/hero3-768.webp');
    }
  }
}

@media (width <= 750px) {
  .hero {
    &__slide {
      height: auto;
    }
  }
}

@media (width <= 576px) {
  .hero {
    &__swiper-container {
      margin-bottom: $gap;
    }

    &__first-slide {
      background-image: url('img/hero1-320.webp');
    }

    &__second-slide {
      background-image: url('img/hero2-320.webp');
    }

    &__third-slide {
      background-image: url('img/hero3-320.webp');
    }

    &__title {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 27px;
    }

    &__slide-content {
      padding: 30px 18px 98px;
      max-width: 204px;
    }

    &__swiper-button {
      display: none;
    }

    &__mobile-button {
      display: flex;
      justify-content: center;
      outline: none;
      padding: 19px 50px;
      width: 100%;
      font-weight: 700;
      font-size: $biggerFs;
      line-height: $biggerLh;
      color: $white;
      background-color: $primary;
      transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

      &:focus-visible {
        border-color: $primaryShade;
        background-color: $primaryLight;
      }

      &:active {
        border-color: $primaryShade;
        background-color: $primaryShade;
      }

      &:disabled {
        border-color: $grayMd;
        color: $gray;
        background-color: $grayMd;
      }
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
  }
}
