.offers {
  margin-bottom: 77px;

  &__title-pagination {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__pagination {
    margin-bottom: 26px;
  }

  &__buttons {
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color .2s ease-in-out;

    &:focus-visible .offers__svg path {
      stroke: $white;
    }

    &:focus-visible {
      background-color: $primaryLight;
    }

    &:active .offers__svg path {
      stroke: $white;
    }

    &:active .offers__svg circle {
      stroke: $primaryShade;
    }

    &:active {
      background-color: $primaryShade;
    }

    &:disabled .offers__svg path {
      stroke: $gray;
    }

    &:disabled .offers__svg circle {
      stroke: $gray;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &__svg {
    width: 32px;
    height: 32px;

    circle {
      transition: stroke .2s ease-in-out;
    }

    path {
      transition: stroke .2s ease-in-out;
    }
  }

  &__button-prev {
    margin-right: 13px;
  }

  &__swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__swiper-wrapper .swiper-slide {
    width: calc((296 + 32) / 1280 * 100% - 32px);
  }

  &__swiper-wrapper .offers__slide--big.swiper-slide {
    width: calc((624 + 32) / 1280 * 100% - 32px);
  }

  &__slide {
    display: flex;
    height: auto;
    position: relative;
    background-color: $grayLight;
    border-radius: $br;
  }

  &__slide-content {
    padding: 60px 25px 24px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__slide-content--big {
    padding: 37px 30px 20px 30px;
  }

  &__img-price-button {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__img-name {
    width: 100%;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__slide--big .offers__top {
    max-height: 245px;
  }

  &__top {
    max-height: 221px;
    width: 100%;
    margin-bottom: $lesserGap;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__swiper-button {
    display: inline-block;
    padding: 16px 33px;
    outline: none;
    color: $primary;
    font-size: $biggerFs;
    font-weight: 600;
    line-height: $biggerLh;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      background-color: $primaryLight;
      color: $white;
    }

    &:active {
      background-color: $primaryShade;
      border-color: $primaryShade;
      color: $white;
    }
  }

  &__slide-name {
    max-width: 225px;
    margin: 0;
    font-size: $titleFs;
    font-weight: 400;
    line-height: 31px;
    color: $black;
  }

  &__slide--big .offers__img-name {
    margin-bottom: 14px;
  }

  &__slide-content-fifth .offers__img-name {
    margin-bottom: 0;
  }

  &__price {
    margin-bottom: 21px;
  }

  &__price {
    align-items: center;
  }

  &__primary-price {
    margin-right: 30px;
    font-size: 18px;
    line-height: 23px;
    color: $secondary;
  }

  &__secondary-price {
    font-size: $biggerFs;
    line-height: 21px;
    color: $gray;
    text-decoration: line-through;
  }

  &__discount-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 34px;
    position: absolute;
    top: 30px;
    background-image: url("img/discount.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__discount {
    padding: 7px 25px 7px 15px;
    color: $white;
    font-weight: 700;
    line-height: 19px;
  }
}

@media (max-width: 1200px) {
  .offers {
    &__bg-img {
      display: none;
    }

    &__swiper-wrapper .swiper-slide {
      width: auto;
    }

    &__swiper-wrapper .offers__slide--big.swiper-slide {
      width: auto;
    }

    &__slide--big .offers__img-name {
      margin-bottom: 22px;
    }

    &__slide-content-fifth .offers__img-name {
      margin-bottom: 22px;
    }

    &__slide-content {
      box-sizing: border-box;
      padding: 63px 0 24px 0;
    }

    &__slide-content--big {
      padding: 78px 0 24px 0;
    }

    &__img-name {
      width: 100%;
      padding: 0 28px 0 30px;
    }

    &__slide-content--big .offers__top {
      padding: 0 21px 0 21px;
    }

    &__slide-content--big .offers__img-name {
      padding: 0;
    }

    &__slide-content--big .offers__slide-name {
      box-sizing: content-box;
      padding: 0 28px 0 30px;
    }

    &__price-btn {
      width: 100%;
      padding: 0 28px 0 30px;
    }

    &__img-price-button {
      width: 100%;
      padding: 0 28px 0 30px;
    }

    &__slide-content--big .offers__top {
      align-items: center;
    }
  }
}

@media (max-width: 962px) {
  .offers {
    &__top {
      margin-bottom: 17px;
    }
  }
}

@media (max-width: 750px) {
  .offers {
    margin-bottom: 70px;

    &__pagination {
      margin-bottom: 0;
      justify-content: center;
      order: 3;
      width: 100%;
    }

    &__swiper-container {
      margin-bottom: 23px;
    }
  }
}

@media (max-width: 576px) {
  .section {
    &__title {
      font-size: $titleFs;
      line-height: 24px;
    }
  }
}
