.product-main {
  padding-top: 23px;
}

.product {
  margin-bottom: 83px;

  &__wrapper {
    grid-template-columns: repeat(12, 1fr);
  }

  &__grid-item {
    grid-column: span 6;
  }

  &__preview-info {
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
    row-gap: $lesserGap;
  }

  &__info {
    grid-column: span 6;
    grid-row: span 2;
    padding-top: 11px;
  }

  &__svg-rating {
    align-items: center;
    margin-bottom: 2px;
  }

  &__rating {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $secondary;
  }

  &__star-svg {
    display: flex;
    margin-right: 6px;
    width: 16px;
    height: 15px;
  }

  &__name {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: $titleFs;
    line-height: 31px;
    color: $black
  }

  &__text {
    margin: 0;
    margin-bottom: 21px;
    line-height: 14px;
    color: $gray;
  }

  &__price {
    display: block;
    margin-bottom: 21px;
    font-size: 36px;
    line-height: 47px;
    color: $black;
  }

  &__buy-btn {
    margin-bottom: 12px;
    outline: none;
    padding: 17px 33px;
    font-weight: 600;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $white;
    background-color: $primary;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      border-color: $primaryShade;
      background-color: $primaryLight;
    }

    &:active {
      border-color: $primaryShade;
      background-color: $primaryShade;
    }

    &:disabled {
      border-color: $grayMd;
      color: $gray;
      background-color: $grayMd;
    }
  }

  &__add-btn {
    outline: none;
    border: none;
    padding-left: 30px;
    font-size: $biggerFs;
    line-height: 21px;
    color: $primary;

    &:focus-visible {
      color: $primaryLight;
    }
  }

  &__desc {
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $black;
  }

  &__paragraph {
    margin: 0;
    line-height: 25px;
    color: $black;
  }

  &__paragraph:first-of-type {
    margin-bottom: 5px;
  }

  &__scheme:first-of-type {
    margin-right: $gap;
  }

  &__detail {
    display: flex;
  }

  &__detail-name {
    display: flex;
    align-items: center;
    width: 51.8%;
    line-height: 25px;
    color: $gray;

    &::after {
      content: '';
      position: relative;
      left: 4px;
      display: block;
      flex-grow: 1;
      margin-right: 4px;
      height: 11px;
      background-image: radial-gradient(circle, $gray 1px, transparent 1px);
      background-position: bottom;
      background-size: 6px 1.5px;
      background-repeat: repeat-x;
    }
  }

  &__detail-value {
    display: block;
    padding-left: 4px;
    line-height: 25px;
    word-break: keep-all;
    white-space: nowrap;
    color: $black;
  }

  &__secondary-slider-wrapper {
    grid-column: span 6;
    grid-row: 2;
    padding: 8px 25px;
    background-color: $grayLight;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.primary-slider {
  grid-column: span 6;

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__img-wrapper {
    display: flex;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.secondary-slider {
  box-sizing: border-box;

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__img-wrapper {
    display: flex;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (width <= 1200px) {
  .product {
    margin-bottom: 72px;

    &__wrapper {
      grid-template-columns: repeat(9, 1fr);
      row-gap: 34px;
    }

    &__desc {
      grid-column: span 5;
    }

    &__details {
      grid-column: span 4;
    }

    &__preview-info {
      grid-column: span 9;
      grid-template-columns: repeat(9, 1fr);
    }

    &__info {
      grid-column: span 4;
      padding-top: 14px;
    }

    &__detail-name {
      width: 45.5%;
    }

    &__detail-value {
      width: 54.5%;
    }

    &__scheme {
      width: 100%;
    }

    &__scheme-img {
      width: 100%;
      height: auto;
    }

    &__paragraph:first-of-type {
      margin-bottom: 7px;
    }

    &__secondary-slider-wrapper {
      grid-column: span 5;
    }
  }

  .primary-slider {
    grid-column: span 5;
  }

  .secondary-slider {
    &__slide {
      width: auto;
    }
  }
}

@media (width <= 962px) {
  .product {
    margin-bottom: $gap;

    &__wrapper {
      gap: 31px 0;
    }

    &__preview-info {
      grid-column: span 9;
      row-gap: $gap;
    }

    &__info {
      align-self: center;
      grid-column: span 6;
      padding-top: 0;
    }

    &__desc {
      grid-column: span 9;
      max-width: 514px;
    }

    &__details {
      grid-column: span 9;
    }

    &__paragraph:last-of-type {
      margin-bottom: $gap;
    }

    &__detail-name {
      width: 64.7%;
    }

    &__detail-value {
      width: 35.3%;
    }

    &__secondary-slider-wrapper {
      grid-column: span 3;
      grid-row: span 2;
      padding: 25px;
      max-height: 349px;
    }
  }

  .primary-slider {
    grid-column: span 9;
  }

  .secondary-slider {
    &__slide {
      width: 100%;
      height: 100%;
    }
  }
}

@media (width <= 750px) {
  .product {
    &__info {
      grid-column: span 9;
    }

    &__secondary-slider-wrapper {
      grid-column: span 9;
      padding: 10px;

      .secondary-slider {
        &__slide {
          width: auto;
        }
      }
    }
  }
}

@media (width <= 576px) {
  .product-main {
    padding-top: 30px;
  }

  .product {
    margin-bottom: 70px;

    &__preview-info {
      gap: $lesserGap;
    }

    &__name {
      margin-bottom: 7px;
      font-size: $biggerFs;
      line-height: 21px;
    }

    &__text {
      margin-bottom: 18px;
      max-width: 244px;
    }

    &__price {
      margin-bottom: 15px;
      font-size: $titleFs;
      line-height: 31px;
    }

    &__buy-btn {
      justify-content: center;
      width: 100%;
    }

    &__add-btn {
      justify-content: center;
      padding-left: 0;
      width: 100%;
    }

    &__heading {
      margin-bottom: 5px;
    }

    &__scheme:first-of-type {
      margin-right: $lesserGap;
    }

    &__detail {
      flex-direction: column;
    }

    &__detail:not(:last-child) {
      margin-bottom: 8px;
    }

    &__detail-name {
      width: 100%;
      font-size: 10px;
      line-height: 14px;

      &::after {
        display: none;
      }
    }

    &__detail-value {
      padding-left: 0;
      line-height: 19px;
    }

    &__secondary-slider-wrapper {
      min-height: 81px;
    }
  }
}
