.rating {
  &__list {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: $gap;
  }

  &__item {
    display: flex;
    grid-column-end: span 3;
    border-radius: $br;
    min-height: 420px;
    background-color: $grayLight;
  }

  &__item:nth-last-child(-n+4) {
    display: none;
  }

  &__list .rating__item.rating__item--visible {
    display: flex;
  }

  &__card {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 61px 15px 30px;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: $lesserGap;
    width: 100%;
    height: 100%;
  }

  &__img-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__card-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__name-price {
    margin-bottom: 24px;
  }

  &__card-name {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: $titleFs;
    line-height: 31px;
    word-break: break-all;
    color: $black;
  }

  &__price {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $grayShade;
  }

  &__card-btn {
    outline: none;
    padding: 17px 33px;
    font-weight: 600;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $primary;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      color: $white;
      background-color: $primaryLight;
    }

    &:active {
      border-color: $primaryShade;
      color: $white;
      background-color: $primaryShade;
    }
  }

  &__svg-number {
    position: absolute;
    left: 30px;
    top: 30px;
    align-items: center;
  }

  &__svg {
    display: flex;
    margin-right: 7px;
    width: 16px;
    height: 15px;
  }

  &__number {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $secondary;
  }

  &__btn {
    margin: 0 auto;
    outline: none;
    padding: 19px 34.5px;
    font-weight: 700;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $white;
    background-color: $primary;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      border-color: $primaryShade;
      background-color: $primaryLight;
    }

    &:active {
      border-color: $primaryShade;
      background-color: $primaryShade;
    }

    &:disabled {
      border-color: $grayMd;
      color: $gray;
      background-color: $grayMd;
    }
  }

  &__btn--hidden {
    display: none;
  }
}

@media (width <= 1200px) {
  .rating {
    &__list {
      grid-template-columns: repeat(12, 1fr);
    }

    &__item {
      grid-column-end: span 4;
    }

    &__item:nth-last-child(-n+6) {
      display: none;
    }

    &__card-name {
      max-width: 236px;
    }
  }
}

@media (width <= 962px) {
  .rating {
    &__list {
      grid-template-columns: repeat(12, 1fr);
    }

    &__item {
      grid-column-end: span 6;
    }

    &__card-name {
      margin-bottom: 22px;
    }

    &__name-price {
      margin-bottom: 22px;
    }
  }
}

@media (width <= 750px) {
  .rating {
    &__card-content {
      padding: 0;
    }
  }
}

@media (width <= 576px) {
  .rating {
    &__list {
      grid-template-columns: repeat(6, 1fr);
      gap: $lesserGap;
    }

    &__item {
      grid-column: span 3;
      grid-column-end: auto;
      min-height: 278px;
    }

    &__card {
      padding: 37px 15px 15px;
    }

    &__card-content {
      width: 100%;
    }

    &__name-price {
      margin-bottom: $lesserGap;
    }

    &__card-name {
      margin-bottom: $lesserGap;
      max-width: 160px;
      font-size: 16px;
      line-height: 21px;
      word-break: normal;
    }

    &__card-btn {
      justify-content: center;
      padding: 9px 10px;
      width: 100%;
    }

    &__svg-number {
      left: 16px;
      top: 17px;
    }

    &__svg {
      margin-right: 6px;
      width: 13px;
      height: 12px;
    }

    &__number {
      font-size: 12px;
      line-height: 15.6px;
    }

    &__top {
      align-items: center;
      margin-bottom: 10px;
    }

    &__img-wrapper {
      width: 100%;
    }

    &__img {
      width: 100%;
    }
  }
}
