.similar {
  &__title-pagination {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__pagination {
    margin-bottom: 24px;
  }

  &__buttons {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color .2s ease-in-out;

    &:focus-visible .similar__btn-svg path {
      stroke: $white;
    }

    &:focus-visible {
      background-color: $primaryLight;
    }

    &:active .similar__btn-svg path {
      stroke: $white;
    }

    &:active .similar__btn-svg circle {
      stroke: $primaryShade;
    }

    &:active {
      background-color: $primaryShade;
    }

    &:disabled .similar__btn-svg path {
      stroke: $gray;
    }

    &:disabled .similar__btn-svg circle {
      stroke: $gray;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &__btn-svg {
    width: 32px;
    height: 32px;

    circle {
      transition: stroke .2s ease-in-out;
    }

    path {
      transition: stroke .2s ease-in-out;
    }
  }

  &__button-prev {
    margin-right: 13px;
  }

  &__title {
    font-size: $titleFs;
    line-height: 31px;
  }

  &__swiper-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__slide {
    display: flex;
    border-radius: $br;
    height: auto;
    background-color: $grayLight;
  }

  &__card {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 58px 15px 30px;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: $lesserGap;
    width: 100%;
    height: 100%;
  }

  &__img-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__card-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__name-price {
    margin-bottom: 24px;
  }

  &__card-name {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: $titleFs;
    line-height: 31px;
    word-break: break-all;
    color: $black;
  }

  &__price {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $grayShade;
  }

  &__card-btn {
    outline: none;
    padding: 17px 33px 15px;
    font-weight: 600;
    font-size: $biggerFs;
    line-height: $biggerLh;
    color: $primary;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;

    &:focus-visible {
      color: $white;
      background-color: $primaryLight;
    }

    &:active {
      border-color: $primaryShade;
      color: $white;
      background-color: $primaryShade;
    }
  }

  &__svg-number {
    position: absolute;
    left: 30px;
    top: 30px;
    align-items: center;
  }

  &__svg {
    display: flex;
    margin-right: 7px;
    width: 16px;
    height: 15px;
  }

  &__number {
    display: block;
    font-size: $biggerFs;
    line-height: 21px;
    color: $secondary;
  }
}

@media (width <= 1200px) {
  .similar {
    &__card-name {
      max-width: 236px;
    }
  }
}

@media (width <= 750px) {
  .similar {
    &__pagination {
      justify-content: center;
      order: 3;
      margin-bottom: 0;
      width: 100%;
    }

    &__swiper-container {
      margin-bottom: 23px;
    }
  }
}

@media (width <= 576px) {
  .similar {
    &__swiper-container {
      margin-bottom: $lesserGap;
    }

    &__slide {
      min-height: 278px;
    }

    &__card {
      padding: 38px 16px 16px;
    }

    &__card-content {
      padding: 0;
      width: 100%;
    }

    &__name-price {
      margin-bottom: $lesserGap;
    }

    &__card-name {
      margin-bottom: $lesserGap;
      max-width: 160px;
      font-size: 16px;
      line-height: 21px;
      word-break: normal;
    }

    &__card-btn {
      justify-content: center;
      padding: 9px 23px;
      width: 100%;
      box-sizing: border-box;
    }

    &__img-wrapper {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__svg-number {
      left: 16px;
      top: 16px;
    }

    &__svg {
      margin-right: 6px;
      width: 13px;
      height: 12px;
    }

    &__number {
      font-size: 12px;
      line-height: 15.6px;
    }

    &__top {
      align-items: center;
      margin-bottom: 5px;
    }
  }
}
