$containerMaxWidth: 1352px;
$gap: 32px;
$lesserGap: 16px;
$br: 10px;

$gray: #999;
$grayMd: #EAEAEA;
$black: #333;
$white: #fff;
$primary: #A65CF0;
$primaryShade: #7033AC;
$primaryLight: #C998FB;
$bgPink: #EBD1FF;
$pinkLight: #F8EFFF;
$secondary: #FF862F;
$secondaryLight: #FFBD59;
$secondaryShade: #BB370E;
$bgGold: #FFF5D1;
$gold: #D5B986;
$grayLight: #F6F6F6;
$grayShade: #666;

$defaultFs: 14px;
$biggerFs: 16px;
$titleFs: 24px;
$defaultLh: 14px;
$biggerLh: 19px;
